.footer {
  width: 100%;
  min-height: 3rem;
  @include all-center;
  background-color: $color-one;
  color: $color-four;
  font-size: 1.1rem;
  @include font-stack;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.footer a {
  color: $color-four;
}
