.header {
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-one;
  color: $color-four;
}

.header h2 {
  font-size: 16px;
  text-transform: uppercase;
  @include font-stack;
  font-weight: 400;
  letter-spacing: 1.2px;
}
