* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  @include all-center;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-color: $color-background;
}

.container {
  width: 320px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.wrapper {
  width: 100%;
  min-height: calc(100vh - 3rem - 3rem);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.main_title {
  font-size: 1.8rem;
  @include font-stack;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-align: center;
  color: $color-one;
}

.box_item {
  width: 100%;
  height: 100%;
  //@include all-center;
  // border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.8rem;
}

.box_objetive {
  width: 100%;
  height: 100%;
  @include all-center;
}
