//init:
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

//Colors General:
$color-one: #264653;
$color-two: #2a9d8f;
$color-three: #e9c46a;
$color-four: #f4a261;
$color-five: #e76f51;
$color-background: #e0ffff;

//Transparent:
$color-four-t20: rgba(244, 162, 97, 0.2);
$color-four-t60: rgba(244, 162, 97, 0.6);
$color-four-t80: rgba(244, 162, 97, 0.8);
$color-three-t20: rgba(233, 196, 106, 0.2);
$color-three-t40: rgba(233, 196, 106, 0.4);
$color-three-t60: rgba(233, 196, 106, 0.6);
$color-three-t80: rgba(233, 196, 106, 0.8);
$color-two-t40: rgba(42, 157, 143, 0.4);

//Colors Font:
$color-font-one: #fff;
$color_font-sec: #848484;

//Colors forms:
$color-lines: #edc4c4;
