//init:
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

//Colors General:
$color-one: #264653;
$color-two: #2a9d8f;
$color-three: #e9c46a;
$color-four: #f4a261;
$color-five: #e76f51;
$color-background: #e0ffff;

//Colors Font:
$color-font-one: #fff;
